# Compiled Source #
###################
*.la
*.lo
*.o

# Packaging Files #
###################
debian/files
debian/libsairedis-dev.debhelper.log
debian/libsairedis-dev.substvars
debian/libsairedis.debhelper.log
debian/libsairedis.postinst.debhelper
debian/libsairedis.postrm.debhelper
debian/libsairedis.substvars
debian/libsaimetadata-dev.debhelper.log
debian/libsaimetadata-dev.substvars
debian/libsaimetadata.debhelper.log
debian/libsaimetadata.postinst.debhelper
debian/libsaimetadata.postrm.debhelper
debian/libsaimetadata.substvars
debian/libsaivs-dev.debhelper.log
debian/libsaivs-dev.substvars
debian/libsaivs.debhelper.log
debian/libsaivs.postinst.debhelper
debian/libsaivs.postrm.debhelper
debian/libsaivs.substvars
debian/syncd.debhelper.log
debian/syncd.postinst.debhelper
debian/syncd.postrm.debhelper
debian/syncd.prerm.debhelper
debian/syncd.substvars

debian/libsairedis-dev/
debian/libsairedis/
debian/libsaimetadata-dev/
debian/libsaimetadata/
debian/libsaivs-dev/
debian/libsaivs/
debian/syncd/
debian/tmp/

aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
libtool
Makefile.in
stamp-h1
**/.deps/
**/.dirstamp
**/.libs/
**/Makefile
m4
config

# Dependency Folder #
#####################
deps/

# Executables #
###############
syncd/syncd
syncd/syncd_request_shutdown
saiplayer/saiplayer
saidump/saidump
saisdkdump/saisdkdump
meta/tests

# Temporary files #
###################
**/*~
**/*.swp
**/*.rec
