Source: sonic
Maintainer: Shuotian Cheng <shuche@microsoft.com>
Section: net
Priority: optional
Build-Depends: dh-exec (>=0.3), debhelper (>= 9), autotools-dev
Standards-Version: 1.0.0

Package: swss
Architecture: any
Depends: ${shlibs:Depends}
Description: This package contains Switch State Service for SONiC project.

Package: swss-dbg
Architecture: any
Section: debug
Priority: extra
Depends: swss (=${binary:Version})
Description: debugging symbols for swss
