#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

clean:
	dh $@ --with autotools-dev

build:
	echo build stage is skipped. Please use binary to generate debian packages

binary: binary-syncd binary-syncd-rpc

binary-syncd:
	$(shell echo > /tmp/syncd-build)
	dh clean  --with autotools-dev
	dh build  -N syncd-rpc -N syncd-rpc-dbg --with autotools-dev
	dh binary -N syncd-rpc -N syncd-rpc-dbg --with autotools-dev

binary-syncd-rpc: | binary-syncd
	$(shell echo '--enable-rpcserver=no' > /tmp/syncd-build)
	dh clean  --with autotools-dev
	dh build  -N syncd -N syncd-dbg --with autotools-dev
	dh binary -N syncd -N syncd-dbg --with autotools-dev

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

override_dh_auto_configure:
	./autogen.sh
	dh_auto_configure -- $(shell cat /tmp/syncd-build)

override_dh_install:
	dh_install
ifeq ($(shell cat /tmp/syncd-build), --enable-rpcserver=yes)
	sed -i 's/ENABLE_SAITHRIFT=0/ENABLE_SAITHRIFT=1/' debian/syncd-rpc/usr/bin/syncd_init_common.sh
endif

override_dh_installinit:
	dh_installinit --init-script=syncd

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_strip:
	dh_strip -psyncd-rpc --dbg-package=syncd-rpc-dbg
	dh_strip -psyncd --dbg-package=syncd-dbg
	dh_strip -plibsairedis --dbg-package=libsairedis-dbg
	dh_strip -plibsaivs --dbg-package=libsaivs-dbg
	dh_strip -plibsaimetadata --dbg-package=libsaimetadata-dbg
